<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Kalın Bağırsak Hastalık Teşhisi</title>
  <link href="{{ url_for('static', filename='images/HOSPİTAL.jpg') }}" rel="icon" />
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/a.css') }}" rel="stylesheet" />
</head>

<body>
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('home') }}" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Kalın Bağırsak Hastalık Teşhisi</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          {% if user %}
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user.name}} {{user.surname}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>Çıkış Yap
              </a>
              <a class="dropdown-item d-flex align-items-center" href="{{ url_for('settings') }}">
                <i class="bi bi-pencil"></i> Düzenle
              </a>
            </li>
          </ul>
          {% else %}
          <form method="POST">
            <button type="submit">Giriş Yap</button>
          </form>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <div class="container">
    <!-- Flash Mesajları -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert-container">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <aside id="sidebar" class="sidebar">
      {% if user %}
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Kayıtlı Hastalar</span>
            <i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="{{ url_for('patients') }}">
                <i class="bi bi-circle"></i><span>Hasta Bilgileri</span>
              </a>
            </li>
            <li>
              <a href="{{ url_for('patient_search') }}">
                <i class="bi bi-search"></i><span>Hasta Arama</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </aside>

    <main id="main" class="main">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Hasta Bilgilerini Düzenle</h5>

                <!-- Hasta Düzenleme Formu -->
                <form method="POST">
                  <div class="row mb-3">
                    <label for="inputAd" class="col-sm-3 col-form-label">Hasta Ad</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="inputAd" placeholder="Ad" name="name"
                        value="{{ patient.ad }}" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputSoyad" class="col-sm-3 col-form-label">Hasta Soyad</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="inputSoyad" placeholder="Soyad" name="surname"
                        value="{{ patient.soyad }}" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputTcno" class="col-sm-3 col-form-label">Hasta TC No</label>
                    <div class="col-sm-6">
                      <input type="tel" class="form-control" id="inputTcno" placeholder="TC No" name="tckn"
                        value="{{ patient.tckn }}" pattern="^\d{11}$" maxlength="11"
                        title="TC No sadece rakamlardan oluşmalı ve 11 haneli olmalıdır." required inputmode="numeric"
                        oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="inputTeshis" class="col-sm-3 col-form-label">Teşhis</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="inputTeshis" name="teshis" required>
                        <option value="Kanser" {% if patient.teshis == 'Kanser' %}selected{% endif %}>Kanser</option>
                        <option value="Crohn" {% if patient.teshis == 'Crohn' %}selected{% endif %}>Crohn</option>
                        <option value="Normal" {% if patient.teshis == 'Normal' %}selected{% endif %}>Normal</option>
                        <option value="Polip" {% if patient.teshis == 'Polip' %}selected{% endif %}>Polip</option>
                        <option value="Ulcerative" {% if patient.teshis == 'Ulcerative' %}selected{% endif %}>Ulcerative</option>
                      </select>
                    </div>
                  </div>
                  

                  <div class="row mb-3">
                    <div class="col-sm-6 offset-sm-3">
                      <button type="submit" class="btn btn-primary ms-auto d-block">Kaydet</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; <strong><span>2024</span></strong>
      </div>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>